[user]
	email = ninmonkeys@gmail.com
	name = Jake Bolton
[gui]
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
	st = status
	slog = log --pretty=oneline --abbrev-commit --color=always
	logb = log --graph --abbrev-commit --date=relative --right-only
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	# exludesfile = C:\\Users\\cppmo_000\\Documents\\2020\\dotfiles_git\\git\\global_ignore.gitignore
	exludesfile = C:/Users/cppmo_000/Documents/2021/dotfiles_git/git/git/global_ignore.gitignore
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	editor = code --wait

[diff]
	tool = default-difftool

# todo: try <https://www.sheldonhull.com/microblog/delta-improves-the-git-diff-experience/>

[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	modalPrompt = true
